#container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 20vh;
    height: 100vh;
}
#info{
    width: 40vh;
}
#title{
    margin-top: 60px;
    margin-bottom: 40px;
}
#info label{
    font-size: 17px;
    margin:10px;
    display: flex;
    flex-direction: column;
    text-align:left;
}
#info input{
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 400px;
    background-color: rgb(38, 35, 50);
    color:rgb(255,212,55);
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}
#info textarea{
    display: flex;
    flex-direction: column;
    height:200px;
    width: 400px;
    background-color: rgb(38, 35, 50);
    color:rgb(255,212,55);
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    resize: none;
}
#submit{
    background-color: rgb(218, 171, 0);
    color: black;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
}

#info input:focus{
    outline: none;
    border: 1px solid rgb(59, 55, 77);
}
#info textarea:focus{
    outline: none;
    border: 1px solid rgb(59, 55, 77);
}
#copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#copyright li{
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#footer{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}
#legal{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#legal li a{
    cursor:pointer;
}
#icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#icons li a img{
    cursor:pointer;
}