#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 50vh;
}
#title{
    margin: top 60px;
    margin-bottom: 40px;
}

#info input{
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 400px;
    border: 2px solid rgb(218, 171, 0);
    margin-bottom: 20px;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

#info input:focus{
    outline: none;
    border: 2px solid rgb(255, 212, 55);
}
#copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#copyright li{
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#footer{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}
#legal{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#legal li a{
    cursor:pointer;
}
#icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#icons li a img{
    cursor:pointer;
}